<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Me-omics!</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<script type="text/javascript">
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'Messenger'));

		window.extAsyncInit = () => {
        // TODO: How to parse env file from here?
        MessengerExtensions.getSupportedFeatures(function success(result) {
            let features = result.supported_features;
            if (features.includes("context")) {
                MessengerExtensions.getContext('1167585250259672',
                    function success(thread_context) {
                        // success
                        document.getElementById("psid").value = thread_context.psid;
                    },
                    function error(err) {
                        // error
                        // console.log(err);
                        console.log('no psid');
                    }
                );
            }
        }, function error(err) {
            // error retrieving supported features
            //console.log(err);
            console.log('errorrrr');
        });
        document.getElementById('submitButton').addEventListener('click', () => {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Webview closing");
            }, function error(err) {
                //console.log(err);
                console.log('not closing');
            });
        });
    };
    </script>
    <div class="container">
        <form action="/optionspostback" method="get">
            <input type="hidden" name="psid" id="psid">
            <h3>Pillows</h3>
            <input type="checkbox" name="pillows" value="soft" id="sof" checked>Soft<br>
            <input type="checkbox" name="pillows" value="hard" id="har">Hard<br>
            <h3>Bed</h3>
            <input type="checkbox" name="bed" value="single" id="sin" checked>Single<br>
            <input type="checkbox" name="bed" value="double" id="dou">Double<br>
            <input type="checkbox" name="bed" value="twin" id="twi">Twin<br>
            <h3>View</h3>
            <input type="checkbox" name="view" value="sea" id="se" checked>Sea<br>
            <input type="checkbox" name="view" value="street" id="stre">Street<br>
            <input class="prod-sub-btn" type="submit" value="Submit" id="submitButton">
        </form>
    </div>
	<!-- <div class="conatiner">
			<div class="card">
				<img src="phone.jpg" alt="phone">
				<h3>XYZ PHONE</h3>
				<p class="price">Rs.1000</p>
				<p>A new 5G phone</p>
				<button>Add to Cart</button>
			</div>
	</div> -->
</body>
</html>